.my-input {
  width: 75%;
}

.my-card-bg {
  background-color: aliceblue;
}

.my-element-display {
  display: none;
}

.loader {
  margin-left: 50%;
  display: none;
}

#show-all-btn {
  width: 150px;
  height: 40px;
}

@media only screen and (max-width: 767px) {
  .my-input {
    width: 100%;
  }
}
